body{
    background: linear-gradient(to right, #46d8df, #4be2d1 25%, #3fc3eb 75%, #41c8fa);
    padding: 70px 0;
}
.general{
    width: 83%;
    margin: auto;
    background-color: #fff;
    border-top: 3px solid #0a69cc;
    padding-top: 7px;
    border-bottom: 40px solid #0a69cc;
    position: relative;
}
.nav{
    width: 85%;
    margin: auto;
}
.nav-bar{
justify-content: end;
} 
.brand-name{
    font-size: 26px;
    font-weight: 700;
}
.m-link{
    color: #3495fb !important;
}

.btns{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: none;
    background-color: #9e2efc;
    margin-left: 1px;
}


.links{
color: rgb(25, 153, 233);
}


.signin{
    background-color: #3495fb;
    border-radius: 4px;
}

.linkss{
    color: aliceblue;
}

.navbar-expand-lg .navbar-nav .nav-item{
    margin-left: 15px !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #000 !important;
    font-weight: 500 !important;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #3495fb !important;
}

.navbar-expand-lg .navbar-nav .linkss{
    color: #fff !important;
    padding: 7px 20px !important;
}

.main{
    width: 100%;
    background-color: hsla(208, 100%, 97%,.1) !important;

}

.main .hero1{
    padding: 120px 0 140px 0;
    text-align: center;
}

.main .hero1 h2{
    margin-bottom: 15px;
    font-weight: 700;
}

.main .hero1 p{
    width: 32%;
    margin: auto;
    color: #5e5e5e;
    line-height: 30px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
}

.main .hero1 .search{
    width: 32%;
    margin: auto;
    background-color: #ebf0f7;
    height: 45px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 13px;
    padding: 0 5px;
}

.main .hero1 .search input{
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 85%;
}

.main .hero1 .search img{
    width: 15px;
}

.main .hero1 h6{
    font-size: 15px;
}

.main .hero1 h6 a{
    text-decoration: none;
}

.hero2{
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}

.hero2 .card-c{
    display: flex;
    justify-content: space-between;
    margin-top: -8%;
}

.hero2 .card-c .card1{
    width: 30%;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 hsla(0, 0%, 0%, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    text-align: center;
}

.hero2 .card-c .card1 div{
    width: 60px;
    margin: auto;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3495fb;
    margin-bottom: 20px;
}

.hero2 .card-c .card1 div img{
    width: 70%;
}

.hero2 .card-c .card1 div h5{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
}

.hero2 .card-c .card1 p{
    font-weight: 500;
    font-size: 15px;
    width: 85%;
    margin: auto;
}

.new{
    text-align: center;
    background-color: #ebf0f7;
    width: fit-content;
    margin: auto;
    padding: 9px 14px;
    margin-top: 50px;
    border-radius: 20px;
}

.new button{
    border: none;
    width: fit-content;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    background-color: rgb(113, 184, 8);
    border-radius: 10px;
    padding: 4px 8px;
}
.new span{
    font-size: 15px;
}

.new span a{
    text-decoration: none;
}

.img-abs{
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 19.5%;
}


@media screen and (max-width:1100px){
    .main .hero1 p{
        width: 40%;
    }
    .main .hero1 .search{
        width: 45%;
    }
}
@media screen and (max-width:900px){
    .nav{
        width: 92%;
    }
    .main .hero1 p{
        width: 50%;
    }
    .hero2{
        width: 90%;
    }
}

@media screen and (max-width:700px){
    .hero2 .card-c .card1{
        width: 32%;
    }
}

@media screen and (max-width:600px){
    .main .hero1 p{
        width: 65%;
    }
    .main .hero1 .search{
        width: 70%;
    }
    
}

@media screen and (max-width:550px){
    .hero2 .card-c{
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }
    .hero2 .card-c .card1{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px){
    .main .hero1 p{
        width: 90%;
    }

    .main .hero1 .search{
        width: 85%;
    }

    .hero2 .card-c{
        width: 90%;
    }
}